<div class="row mt-4">

	<div class="col-md-6 d-none d-md-block" style="height: 450px;">
		<div class="text-center col-md-12 my-auto side-heder">
			<h1>Cadastro de Usuário</h1>
			<img src="../../../../assets/img/registerImage.png" class="my-4" alt="" width="400px">
		</div>
	</div>

	<div class="col-md-6">

		<form class="p-1" [formGroup]="form" (ngSubmit)="register()">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label>Primeiro Nome</label>
          <input type="text" class="form-control" [ngClass]="{'is-invalid':f.primeiroNome.errors && f.primeiroNome.touched}" formControlName="primeiroNome" placeholder="Insira o Primeiro nome" />
          <div *ngIf="f.primeiroNome.errors?.required && f.primeiroNome.touched" class="invalid-feedback">
            Primeiro nome é obrigatório.
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label>Sobrenome</label>
          <input type="text" class="form-control" [ngClass]="{'is-invalid':f.ultimoNome.errors && f.ultimoNome.touched}" formControlName="ultimoNome" placeholder="Insira o sobrenome" />
          <div *ngIf="f.ultimoNome.errors?.required && f.ultimoNome.touched" class="invalid-feedback">
            Sobrenome é obrigatório.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Email:</label>
        <input class="form-control" [ngClass]="{'is-invalid':f.email.errors && f.email.touched}" formControlName="email" type="text" placeholder="Insira o Email" />
        <div *ngIf="f.email.errors?.required && f.email.touched" class="invalid-feedback">
          Email é obrigatório.
        </div>
        <div *ngIf="f.email.errors?.email && f.email.touched" class="invalid-feedback">
          Deve ser um email válido.
        </div>
      </div>
      <div class="form-group">
        <label for="">Usuario:</label>
        <input class="form-control" [ngClass]="{'is-invalid':f.userName.errors && f.userName.touched}" formControlName="userName" type="text" placeholder="Insira o nome de Usuário" />
        <div *ngIf="f.userName.errors?.required && f.userName.touched" class="invalid-feedback">
          Usuario é obrigatório.
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="">Senha:</label>
          <input class="form-control" [ngClass]="{'is-invalid':f.password.errors && f.password.touched}" formControlName="password" type="password" placeholder="Digite uma Senha" />
          <div *ngIf="f.password.errors?.required && f.password.touched" class="invalid-feedback">
            Senha é obrigatória.
          </div>
          <div *ngIf="f.password.errors?.minlength && f.password.touched" class="invalid-feedback">
            Senha deve ter no mínimo 6 caracteres.
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="">Confirmar Senha:</label>
          <input class="form-control" [ngClass]="{'is-invalid':f.confirmaPassword.errors && f.confirmaPassword.touched}" formControlName="confirmaPassword" type="password" placeholder="Confirme a Senha" />
          <div *ngIf="f.confirmaPassword.errors?.required && f.confirmaPassword.touched" class="invalid-feedback">
            É obrigatório confirmar a senha.
          </div>
          <div *ngIf="f.confirmaPassword.errors?.mustMatch && f.confirmaPassword.touched" class="invalid-feedback">
            As senhas não conferem.
          </div>
        </div>
      </div>
      <div class="form-row p-1 mb-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <button class="btn btn-lg btn-success btn-block px-5" [disabled]="!form.valid" type="submit">
            Registrar
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <a class="btn btn-link btn-block" routerLink="/user/login">
            Já sou Cadastrado
          </a>
        </div>
      </div>
    </form>

	</div>
</div>
